#wrap {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    font-size: 20px;
}

.post_upload {
    max-width: 1200px;
    margin: 0 auto;
}

.post {
    float: left;
    padding: 5%;
    border-radius: 16px;
}

.photo_upload {
    text-align: center;
    width: 40%;
    height: 450px;
    line-height: 450px;
    background-color: rgba(209, 29, 128, 0.137);
}

.text_upload {
    width: 40%;
    height: 450px;
    background-color: rgba(209, 29, 128, 0.096);
}

.post_title {
    height: 50px;
    line-height: 50px;
    /* background-color: rgba(97, 35, 69, 0.61); */
    border-radius: 16px;
}

.posting {
    height: 240px;
    /* background-color:rgba(177, 19, 106, 0.589); */
    border-radius: 16px;
}

.post_content {
    /* background-color: rgba(247, 125, 55, 0.432); */
    height: 170px;
    border-radius: 16px;
}

.hashtags {
    /* background: rgba(167, 89, 45, 0.637); */
    border-radius: 16px;
}

.public {
    position: relative;
    height: 55px;
    /* background-color: white; */
    border-radius: 16px;
}

.save {
    /* background-color: aqua; */
    border-radius: 16px;
}

.save_button {
    width: 40px;
    height: auto;
}