<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="user">
	<select id="testAll" resultType="user">
    select * from user
  </select>
	
  <select id="loginCheck" parameterType="user" resultType="user">
    select * from user where email = #{email} and password = #{password};
  </select>
  <select id="selectOne" parameterType="java.lang.String" resultType="user">
    select * from user where unum = #{unum}
  </select>

  <select id="selectEmail" parameterType="java.lang.String" resultType="java.lang.String">
   select email from user where email = #{email}
  </select>
  
  <insert id="insert" parameterType="user">
  	insert into user(email,password,nickname,phone) values(#{email},#{password},#{nickname},#{phone})
  </insert>

  <update id="updatepassword" parameterType="user">
  	update user set password = #{password} where unum = #{unum};
  </update>

  <update id="updateinterest" parameterType="user">
  	update user set interest = #{interest} where unum = #{unum}
  </update>

  <delete id="delete" parameterType="java.lang.String">
  	delete from user where unum = #{unum}
  </delete>
</mapper>









