body{
    background-color: white;
}
.parent_box {
    font-size: 30px;
}
.left_box, .right_box {
    display: inline-block;
}
.pet_name, .change_user_profile, .setting, .follwerNum, .followNum, .uploadNum{
    display: inline-block;
}
.left_box{
    margin-top: 100px;
    margin-left: 200px;
    width: 440px;
    height: 440px;
    border-radius: 440px;
    overflow: hidden;
    float: left;
}
.middle_box {
    margin-top: 100px;
    margin-left: 120px;
    float: left;
}
.right_box {
    margin-top: 100px;
    margin-left: 120px;
}
#profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .back_pet_name .back_first_meeting_day .back_age .back_species .back_kind .back_neutralization {
margin-left: 700px;
} */
/* .btn-small {
    margin-top: 30px;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    color: #fff;
    background: #444;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: 600;
    transform: rotate(0.1deg);
    font-size: 0.857em;
}
.btn-small.noneBackground {
    background: #fff;
    color: #000;
    border: 1px solid #000; 
} */