body{
    background-color: white;
}
.parent_box {
    font-size: 30px;
}
.left_box, .right_box {
    display: inline-block;
}
.pet_name, .change_user_profile, .setting, .follwerNum, .followNum, .uploadNum{
    display: inline-block;
}
.left_box{
    margin-top: 100px;
    margin-left: 200px;
    width: 440px;
    height: 440px;
    border-radius: 440px;
    overflow: hidden;
    float: left;
}
.middle_box {
    margin-top: 100px;
    margin-left: 120px;
    float: left;
}
.right_box {
    margin-top: 100px;
    margin-left: 120px;
}
#profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}