#wrap {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    font-size: 20px;
    /* color: #fff; */
    /* text-align: center; */
    /* text-transform: uppercase; */
}

.post_box {
    max-width: 1200px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
}

.post {
    float: left;
    /* display: inline-block;
    vertical-align: top; */
    padding: 5%;
}

.photo_box {
    width: 40%;
    height: 450px;
    background-color: rgba(209, 29, 128, 0.137);
}

.post_photo {
    max-width: 800px;
}

.text_box {
    width: 40%;
    height: 450px;
    background-color: rgba(209, 29, 128, 0.096);
}

.profile {
    height: 50px;
    line-height: 50px;
    background-color: rgba(209, 29, 128, 0);
}

.profile_photo {
    height: 50px;
    line-height: 50px;
    float: left;
}

.profile_photo_circle {
    height: 48px;
    width: 48px;
}

.posting {
    height: 240px;
    background-color:rgba(177, 19, 106, 0.158);
}

.post_content {
    background-color: rgba(247, 125, 55, 0.432);
}

.hashtags {
    background: rgba(167, 89, 45, 0.637);
}

.like_comment {
    position: relative;
    height: 55px;
    background-color: white;
}

.like {
    float: left;
    width: 60px;
}

.like_button {
    width: 40px;
    height: auto;
}

.comment {
    float: left;
    width: 60px;
}

.comment_button {
    width: 40px;
    height: auto;
}

.likenum {
    position:absolute; 
    bottom:0px;
}

.post_time {
    background-color: aqua;
}

.comment_box {
    float: left;
    background-color: blue;
}

.user_info {
    float: left;
}

.user_names {
    float : left;
}

.user_photos {
    float: left;
}

.user_comments {
    float: left;
}

.comment_write_box {
    clear: both;
    background-color: peru;
}

.comment_write {
    float: left;
    height: 40px;
    /* width: 305px; */
    line-height: 40px;
    background-color: brown;
}

.fa {
    vertical-align: middle;
}
