* {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

#main {
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 185, 196);
    /* background-image: url(../1.jpg); */
    /* background-size: cover; */
}

nav {
    width: 100%;
    height: 80px;
    background-color: #0005;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li :hover {

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.search-box {
    position: absolute;
    top: 5.5%;
    left: 40%;
    transform: translate(-50%, -50%);
    /* background: #2f3640; */
    background: rgb(107, 13, 60);
    /* height: 40px; */
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-txt {
    /* background: white; */
}

.search-btn {
    /* color: #e84118; */
    color: rgb(241, 75, 130);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background: #2f3640; */
    background: rgb(107, 13, 60);
    display: flex;
    justify-content: center;    
    align-items: center;    
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(250, 208, 215);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.menus {
    position: absolute;
    top: -0.5%;
    right: 0%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #333;
}

.container {
    width: 1200px;
    margin: 20px auto;
    columns: 4;
    column-gap: 40px;
}

.container .box {
    width: 100%;
    margin: 0 0 20px;
    padding: 10px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
}

.container .box img {
    max-width: 100%;
}

.container .box h2 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
}

.container .box p {
    margin: 0;
    padding: 0 0 10px;
    font-size: 16px;
}

@media (max-width: 1200px)
{
    .container {
        columns: 3;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }
}

@media (max-width: 768px)
{
    .container {
        columns: 2;
    }
}

@media (max-width: 500px)
{
    .container {
        columns: 1;
    }
}
